<% title "Home" %>

<div id="newcard">
	<div id="new-status">
	</div>
	<%= render :partial => 'cards/form' %>
</div>
</br>

<div id="cd-list">
	<%= render :partial => 'cards/cards_list'%>
</div>
<br/>