<div id="pics-list">
	<div id="pics-hdr">
		<p>Current Picture List</p>
	</div>

	<ul>
	<% for picture in @card.pictures do %>

		<li>
			<div class="pic-item">
				<%= link_to picture_for(:card => @card, :picture => picture, :size => :thumbnail) %>
			</div>
			<div class="pic-actions">
				<%= link_to 'Delete', card_picture_path(@card, picture), :method => :delete, :class => "small-button" %>
			</div>
		</li>

	<% end %>

	</ul>
</div>