<div class="item-pic">
	<% if @card.pictures.size > 0 %>
		<%= link_to card_path(@card) do%>				
		 <%= picture_for(:card => @card, :size => :thumbnail, :random => true) %>
		<% end %>
		<p><% pic_text = "Add Another"%></p>
	<% else %>
		<p><% pic_text = "Add a Pic"%></p>
	<% end %>
	<%= link_to pic_text, card_pictures_path(@card), :class => "small-button" %>
</div>