<div id="cd-count-sum">
	<div class="cd-number"><%= @counter %></div>
	<div class="cd-inner">Latest Serial Number</div>
</div>
<div id="cd-money-sum">
	<div class="cd-number"><%= @total_sales.format %></div>
	<div class="cd-inner">Made Money</div>	
</div>